.listarproductos{
    display: flex;
    justify-content: space-between;
}

.productos{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.productos img{
    border: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.productos h4{
    margin: 0;
    font-weight: normal;
    color: #ac851c;
    font-size: 14px;
    margin-top: 5px;
}

.productos h5{
    margin: 0;
    font-weight: normal;
    color: #ac851c;
    font-size: 14px;
    margin-top: 5px;
}

.productos p{
    color: #666;
    font-size: 10px;
}